<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Page - Baker's Dozen</title>
    <link rel="stylesheet" href="/css/app.css">
    <script defer src="https://use.fontawesome.com/releases/v5.7.0/js/all.js" integrity="sha384-qD/MNBVMm3hVYCbRTSOW130+CWeRIKbpot9/gR1BHkd7sIct4QKhT1hOPd+2hO8K" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="background-image">
    <% include partials/nav.ejs %>

      <div class="edit-container">
        <h1>Edit Your Bakedgood</h1>
        <form action="/bakersdozen/<%=pastry.id%>?_method=PUT" method="POST">
              <label for="name">Name</label>
                <input type="text" name="name" value="<%=pastry.name%>">
              <label for="name">Image</label>
                <input type="text" name="img" value="<%=pastry.img%>">
              <label for="level">Level</label>
                <input type="text" name="level" value="<%=pastry.level%>">
              <label for="time">Total Time</label>
                <input type="text" name="time" value="<%=pastry.time%>">
              <label for="yield">Yield</label>
                <input type="text" name="yield" value="<%=pastry.yield%>">


              <label for="directions">Directions - Step 1</label>
                <input type="text" name="directions1" value="<%=pastry.directions1%>">
              <label for="directions">Step 2</label>
                <input type="text" name="directions2" value="<%=pastry.directions2%>">
              <label for="directions">Step 3</label>
                <input type="text" name="directions3" value="<%=pastry.directions3%>">
              <label for="directions">Step 4</label>
                <input type="text" name="directions4" value="<%=pastry.directions4%>">
              <label for="directions">Step 5</label>
                <input type="text" name="directions5" value="<%=pastry.directions5%>">
              <label for="directions">Step 6</label>
                <input type="text" name="directions6" value="<%=pastry.directions6%>">
          <input class="btn" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
