<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=pastry.name%></title>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="background-image">
      <% include partials/nav.ejs %>
      <div class="show-container">
          <h1><%=pastry.name%></h1>
          <img src="<%=pastry.img%>" alt="">
          <div class="show-stats-container">
            <div class="show-stats">
              <div class="stat">
              <h3>Difficulty:</h3>
                <p><%=pastry.level%></p>
              </div>
              <div class="stat">
              <h3>Total Time:</h3>
                <p><%=pastry.time%></p>
              </div>
              <div class="stat">
              <h3>Yield:</h3>
                <p><%=pastry.yield%></p>
              </div>
            </div>
            <!-- <div class="ingredients">
              <a href="#">Ingredients</a>
            </div> -->
            <div class="">
              <h3>Directions</h3>
              <h2>1</h2>
              <p><%=pastry.directions1%></p>
              <h2>2</h2>
              <p><%=pastry.directions2%></p>
              <h2>3</h2>
              <p><%=pastry.directions3%></p>
              <h2>4</h2>
              <p><%=pastry.directions4%></p>
              <% if (pastry.directions5) { %>
              <h2>5</h2>
              <p><%=pastry.directions5%></p>
              <% } %>
              <% if (pastry.directions6) { %>
              <h2>6</h2>
              <p><% pastry.directions6%></p>
              <% } %>
            </div>
            <a class="btn create-btn" href="/bakersdozen">Return to Main Page</a>
          </div>
      </div>
    </div>
  </body>
</html>
