<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=pastry.name%></title>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="background-image">
      <% include partials/nav.ejs %>
      <div class="show-container">
          <h1><%=pastry.name%></h1>
          <img src="<%=pastry.img%>" alt="">
          <div class="description">
            <%=pastry.description%><br>
          </div>
          <div class="">
            <%=pastry.level%>
          </div>
          <div class="">
            <%=pastry.time%>
          </div>
          <div class="">
            <%=pastry.yield%>
          </div>
          <div class="">
            <%=pastry.ingredients%>
          </div>
          <div class="">
            <%=pastry.directions%>
          </div>
        <a class="btn create-btn" href="/bakersdozen">Return to Main Page</a>
      </div>
    </div>
  </body>
</html>
