<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=pastry.name%></title>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>

    <h1>Show Page</h1>
      <%=pastry.name%><br>
      <%=pastry.type%><br>
      $<%=pastry.price%><br>
      <%=pastry.qty%><br>
      <%=pastry.recipe%><br>
    <a href="/bakersdozen">Return to Index Page</a>
  </body>
</html>
